<header class="header">
  <div class="header__container container">
    <button class="header__burger" id="burger-open">
      <span></span><span></span><span></span>
    </button>
    <a class="header__logo" href="#">
      <div class="header__logo-image">@@include("./../icon/logo.html")</div>
      <h1 class="header__logo-title"><span>Учебный центр</span><span>эстетической косметологии</span></h1>
    </a>
    <div class="header__phone">
      <div class="header__phone-icon">@@include("./../icon/phone.html")</div>
      <div class="header__phone-value">0 (800) 508-622</div>
    </div>
    <div class="header__socials">
      <a class="header__social" href="#">@@include("./../icon/facebook.html")</a>
      <a class="header__social" href="#">@@include("./../icon/instagram.html")</a>
    </div>
    <div class="header__languages">
      <div class="header__languages-wrapper">
        <div class="header__language choosed"><img src="./img/language-one.png" alt=""></div>
        <div class="header__language"><img src="./img/language-one.png" alt=""></div>
      </div>
      <button class="header__language-button">@@include("./../icon/arrow-language.html")</button>
    </div>
    <nav class="header__links">
      <a href="" class="header__link">Курсы обучения</a>
      <a href="" class="header__link">Вебинары</a>
      <a href="" class="header__link">Видео-уроки</a>
      <a href="" class="header__link">Блог</a>
      <a href="" class="header__link">О нас</a>
      <a href="" class="header__link">Прайс</a>
      <a href="" class="header__link">Рассписание</a>
      <a href="" class="header__link">Акции</a>
      <a href="" class="header__link">Магазин</a>
    </nav>
  </div>
</header>
<section class="burger">
  <div class="burger__container">
    <button class="burger__close" id="burger-close">
      <span></span><span></span>
    </button>
    <div class="burger__phone">
      <div class="burger__phone-icon">@@include("./../icon/phone.html")</div>
      <div class="burger__phone-value">0 (800) 508-622</div>
    </div>
    <div class="burger__languages">
      <div class="burger__languages-wrapper">
        <div class="burger__language choosed"><img src="./img/language-one.png" alt=""></div>
        <div class="burger__language"><img src="./img/language-one.png" alt=""></div>
      </div>
      <button class="burger__language-button">@@include("./../icon/arrow-language.html")</button>
    </div>
    <nav class="burger__links">
      <a href="" class="burger__link">Курсы обучения</a>
      <a href="" class="burger__link">Вебинары</a>
      <a href="" class="burger__link">Видео-уроки</a>
      <a href="" class="burger__link">Блог</a>
      <a href="" class="burger__link">О нас</a>
      <a href="" class="burger__link">Прайс</a>
      <a href="" class="burger__link">Рассписание</a>
      <a href="" class="burger__link">Акции</a>
      <a href="" class="burger__link">Магазин</a>
    </nav>
    <div class="burger__socials">
      <a class="burger__social" href="#">@@include("./../icon/facebook.html")</a>
      <a class="burger__social" href="#">@@include("./../icon/instagram.html")</a>
    </div>
  </div>
</section>