<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/index.css">
  <title>ValMari</title>
</head>
<body>
  <style>

  </style>
  <div class="wrapper">
    @@include("./../component/mixin/block/header.html")
    <main class="main">
      @@include("./../component/page/index/hero.html")
      @@include("./../component/page/index/stat.html")
      @@include("./../component/page/index/course.html")
      @@include("./../component/page/index/about.html")
      @@include("./../component/page/index/train.html")
      @@include("./../component/page/index/model.html")
      @@include("./../component/page/index/master.html")
      @@include("./../component/page/index/why.html")
      @@include("./../component/page/index/stock.html")
      @@include("./../component/page/index/form.html")
    </main>
    @@include("./../component/mixin/block/footer.html")
  </div>
  <script src="js/index.js"></script>
</body>
</html> 