.course {
  @include adaptivePropertyMobile(margin-bottom, 175, 80);
  &__container {
  }

  &__title {
    @include adaptivePropertyMobile(margin-bottom, 77, 40);
    text-align: center;
    @include adaptivePropertyMobile(font-size, 35, 20);
    color: var(--secondary-textColor);
    font-weight: 600;
  }

  &__slider-inner {
    position: relative;
    
  }

  &__slider {
    position: relative;
    z-index: 1;
    @include adaptivePropertyMobile(margin-bottom, 75, 40);
    @media (max-width: 600px) {
      @include adaptivePropertyMobile(width, 500, 200);
      margin-left: auto;
      margin-right: auto;
    };
  }

  &__wrapper {
    pointer-events: none;
    @media (max-width: 1200px) {
      pointer-events: all;
    };
  }

  &__navigation {
    display: contents;
    @media (max-width: 1275px) {
      display: none;
    };
  }

  &__button-prev, &__button-next {
    display: block;
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 24px;
    background-color: transparent;
    top: 40%;
    translate: 0% -50%;
    transition: all 0.2s;
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 200%;
      width: auto;
      aspect-ratio: 1/1;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      transition: all 0.2s;
    }
    &.disabled {
      & > svg {
        fill: hsl(from var(--secondary-color) h s calc(l + 30));
      }
    }
    &:not(.disabled):hover {
      & > svg {
        fill: hsl(from var(--secondary-color) h s calc(l - 30));
      }
    }
    &:not(.disabled):active::after {
      background-color: hsla(from var(--secondary-color) h s calc(l - 20) / 0.3);
    }

    & > svg {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }
  }
  &__button-prev {
    left: -20px;
    translate: -100%;
    rotate: 180deg;
  }

  &__button-next {
    right: -20px;
    translate: 100%;
  }
  

  &__pagination {
    display: flex;
    @include adaptivePropertyMobile(gap, 15, 5);
    justify-content: center;
  }

  &__pagination-bullet {
    display: block;
    position: relative;
    opacity: 1;
    @include adaptivePropertyMobile(width, 15, 7);
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--primary-light-color);
    margin: 0px;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      width: calc(100% + 150%);
      aspect-ratio: 1/1;
      left: -75%;
      top: -75%;
    }
    &.active {
      background-color: var(--primary-color);

    }
  }
}
.course-slide {
  pointer-events: none;
  opacity: 0;
  @include adaptivePropertyMobile(padding, 16, 10);
  @include adaptivePropertyMobile(padding-bottom, 112, 60);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
  background: var(--primary-bgColor);
  transition: all 0.2s;
  @media (max-width: 1200px) {
    pointer-events: all;
  };
  &.visible {
    pointer-events: all;
    opacity: 1;
  }
  @media (max-width: 600px) {
    opacity: 1;
    background: rgba(66, 66, 66, 0.1);
    transition: all 0.2s;
    &.active {
      background: var(--primary-bgColor);
    }
  };
  &__logo {
    display: block;
    position: absolute;
    @include adaptivePropertyMobile(width, 44, 24);
    @include adaptivePropertyMobile(height, 31, 16);
    @include adaptivePropertyMobile(top, 16, 10);
    @include adaptivePropertyMobile(right, 16, 10);
    & > svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__subtitle {
    @include adaptivePropertyMobile(margin-bottom, 7, 5);
    color: var(--secondary-textColor);
    line-height: 1.2;
  }

  &__title {
    @include adaptivePropertyMobile(margin-bottom, 25, 7);
    font-weight: 600;
    @include adaptivePropertyMobile(font-size, 25, 17);
    letter-spacing: -0.02em;
    color: var(--slide-color);
  }

  &__view {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    @include adaptivePropertyMobile(width, 141, 90);
    @include adaptivePropertyMobile(height, 34, 18);
    border-radius: 9px;
    background-color: var(--slide-color);
    @include adaptivePropertyMobile(margin-bottom, 24, 11);
    align-items: center;
    justify-content: center;
    & > span {
      color: var(--tertiary-color);
      font-weight: 600;
      @include adaptivePropertyMobile(font-size, 16, 10);
    }
  }

  &__supblock {
    display: grid;
    @include adaptivePropertyMobile(row-gap, 47, 25);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    @include adaptivePropertyMobile(margin-bottom, 65, 40);
  }

  &__date {
    grid-row: 1/2;
    grid-column: 1/2;
    @include adaptivePropertyMobile(font-size, 20, 13);
    font-weight: 600;
    color: var(--secondary-color);
  }

  &__description {
    position: relative;
    @include adaptivePropertyMobile(padding-top, 7, 0);
    @include adaptivePropertyMobile(padding-left, 11, 8);
    grid-row: 2/3;
    grid-column: 1/2;
    @include adaptivePropertyMobile(font-size, 15, 9);
    line-height: 1.7;
    color: var(--secondary-color);
    &::after{
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: var(--slide-color);
      top: 0px;
      left: 0px;
    }
  }

  &__face {
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: end;
    justify-self: end;
    @include adaptivePropertyMobile(width, 122, 74);
    @include adaptivePropertyMobile(height, 167, 85);
    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__available {
    @include adaptivePropertyMobile(margin-bottom, 15, 5);
    @include adaptivePropertyMobile(font-size, 18, 9);
    color: var(--secondary-textColor);
  }

  &__register {
    --button-color: var(--slide-color);
    --button-textColor: var(--tertiary-textColor);

    position: absolute;
    width: 100%;
    @include adaptivePropertyMobile(height, 56, 30);
    left: 0px;
    bottom: 0px;
    translate: 0px -100%;
    font-weight: 600;
    @include adaptivePropertyMobile(font-size, 20, 11);
  }

  &__more {
    --button-color: var(--slide-light-color);
    --button-textColor: var(--slide-color);

    position: absolute;
    width: 100%;
    @include adaptivePropertyMobile(height, 56, 30);
    left: 0px;
    bottom: 0px;
    font-weight: 600;
    @include adaptivePropertyMobile(font-size, 20, 11);
  }
}

