.stock {
  @include adaptivePropertyMobile(margin-bottom, 175, 80);
  &__container {
  }

  &__title {
    @include adaptivePropertyMobile(margin-bottom, 75, 40);
    text-align: center;
    color: var(--secondary-textColor);
    font-weight: 600;
    @include adaptivePropertyMobile(font-size, 35, 20);
  }

  &__slider {
    position: relative;
    @media (max-width: 600px) {
      @include adaptivePropertyMobile(width, 200, 194);
      margin-left: auto;
      margin-right: auto;
    };
  }

  &__wrapper {
    position: relative;
    @include adaptivePropertyMobile(margin-bottom, 75, 50);
    z-index: 1;
  }

  &__slide {
    position: relative;
    opacity: 0;
    aspect-ratio: 1/1;
    &.visible {
      opacity: 1;
    }
    @media (max-width: 600px) {
      opacity: 1;
      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.35);
        top: 0px;
        left: 0px;
        transition: all 0.2s;
      }
      &.active::after {
        background: rgba(0, 0, 0, 0);
      }
    };
    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__navigation {
    display: contents;
    @media (max-width: 1250px) {
      display: none;
    };
  }

  &__button-prev, &__button-next {
    display: block;
    position: absolute;
    z-index: 2;
    width: 14px;
    height: 22px;
    background: transparent;
    top: 190px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 200%;
      height: 200%;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
    & > svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__button-prev {
    rotate: 180deg;
    left: -20px;
  }

  &__button-next {
    right: -20px;
  }

  &__pagination {
    display: flex;
    @include adaptivePropertyMobile(gap, 15, 7);
    justify-content: center;
  }

  &__pagination-bullet {
    display: block;
    position: relative;
    @include adaptivePropertyMobile(width, 15, 7);
    height: auto;
    aspect-ratio: 1/1;
    background-color: var(--primary-light-color);
    border-radius: 50%;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 200%;
      aspect-ratio: 1/1;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
    &.active {
      background-color: var(--primary-color);
    }
  }
}
